<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="static/css/style.css" rel="stylesheet" type="text/css" />
</head>

<div class="card">
  <div class="profile-image">
    <img src="static/images/icon.png" alt="">
    <p class="name">Aaron S.</p>
    <p class="time">1hr ago</p>
  </div>
  <div class="card-content">
    <h3>UWI Fete</h3>
    <p>Lorem ipsum dolor sit amet. Vel dolorum tenetur in dolores perspiciatis sed rerum eligendi nam quis tenetur. Aut
      dolore rerum ut fugit quibusdam est minima dignissimos qui voluptas molestias sit perspiciatis animi. Et veritatis
      tempore sed laborum tempore ex dolores nesciunt.</p>
  </div>
  <div class="flyer">
    <img class="flyer-image" src="static/images/flyer.jpg" alt="">
  </div>
</div>

<body>





















  <script src="script.js"></script>
</body>

</html>